@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

body {
  font-family: 'Dosis', 'Ubuntu', 'Arial', 'Helvetica', sans-serif !important;
  background-color: #f1f1f1;
  font-size: 18px;
}

@import '~antd/dist/antd.css';